/*Main*/
* {
    box-sizing: border-box;
    font-size: 16px;
}

body, html{
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    padding-bottom: 60px;
}


/*Estilo Navbar*/

.navbar {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rrgb(245, 245, 245)100%); 
    padding: 0.5rem;
    border: 1px solid #ccc;
}

.navbar-brand {
    font-weight: 600;
    color: #009960 !important;
    font-size: 24px;
}

.login-button, .logout-button {
    background-color: #009960;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s background-color;
    cursor:pointer;
}

.logout-button {
    background-color: #f53e4e;
}

#user-name {
    padding: 1vw;
    color: #05c991;
    font-weight: 500;
}

.login-button:hover {
    background-color: #00b380;
}

.navbar-toggler {
    border: none !important;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none !important;
    outline: none;  
}

.nav-link {
    color: #656777;
    font-weight: 500;
    position: relative;
}

.nav-link:hover, .nav-link.active {
    color: #000;
}

.main-content {
    padding: 58px 0px;
}

@media (min-width: 991px) {
    .nav-link::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #009960;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before, .nav-link:active::before {
        width: 100%;
        visibility: visible;
    }
}

.container-fluid {
    padding: 0 !important;
}

#error {
    color:red;
    padding-left: .7vw;
    margin-bottom: 10px;
}



/* FOOTER 

footer {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(184,184,184,1) 100%); 
    height: 50px;
    padding: 10px;
    margin-top: 30px;
    width: 100%;
}

footer p {
    color: #000;
    font-weight: 500;
    padding: 0.5rem;
}

*/