{% extends "base.html" %}

{% block title %}Cadastre seu usuário{% endblock %}

{% block content %}
{% if msg: %}
<p>{{msg}}</p>
{% endif %}
<form method="POST" action="/signup">
    <label for="nome">Digite seu nome: </label>
    <input id="nome" name="nome" type="text"/>

    <label for="nome">Digite seu email: </label>
    <input id="email" name="email" type="text"/>

    <label for="nome">Digite sua senha: </label>
    <input id="senha" name="senha" type="password"/>

    <label for="nome">Confirme sua senha: </label>
    <input id="senha_confirmacao" name="senha_confirmacao" type="password"/>

    <button type="submit">Cadastrar</button>
</form>
{% endblock %}