{% extends "base.html" %}

{% block content %}

{% if empresa: %}
    <h1>{{empresa.nome}}</h1>
    <h3>{{empresa.setor}}</h3>

    <a href={{url_for("adicionar_avaliacao", empresaId = empresa.id)}}>Adicionar avaliação</a>
    <br/>
    <a href={{url_for("empresas", pagina=pagina)}}>Voltar para a lista de empresas</a>

    {% if avaliacoes: %}
        <h2>Avaliações</h2>
        <hr/>
        {% for avaliacao in avaliacoes: %}
            <h3>{{avaliacao.titulo}}</h3>
            <p>{{avaliacao.texto}}</p>
            <a 
            href={{url_for("editar_avaliacao", avaliacaoId = avaliacao.id, empresaId = empresa.id)}}
            >
            Editar
            </a>

            <a 
            href={{url_for("excluir_avaliacao", avaliacaoId = avaliacao.id, empresaId = empresa.id)}}
            onclick="return confirm('Tem certeza que deseja excluir esta avaliação?')"
            >
            Excluir
            </a>

            <hr/>
            <br/>
        {% endfor %}
    {% endif %}
{%endif%}

{% endblock%}