{% extends "base.html" %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/empresa.css') }}">
{% endblock%}


{% block scripts %}
    <script src="{{url_for('static', filename='js/empresa.js')}}"></script>
{% endblock%}

{% block content %}
    <div class="container">
        <div class="page-title">
            <span id="logo-empresa"></span>
            <div class="title-tile">
                <h1 id="nome-empresa"></h1>
                <h3 class="setor-text">Empresa no setor de <span id="setor-empresa"></span></h3>
            </div>
        </div>
        
        <hr/>
        <p class="about-empresa">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel purus eu magna ullamcorper tempor. Cras ligula urna, tincidunt ac orci sit amet, gravida sodales magna. Proin nec metus id ligula volutpat condimentum. Praesent ultricies eros odio, eu vehicula sapien luctus a. Quisque lacinia placerat lectus, nec imperdiet lectus pharetra ac. Duis venenatis vel risus id gravida. Aenean condimentum scelerisque odio, et ornare tortor efficitur sit amet. Suspendisse vel velit purus. Cras venenatis dui dui, sit amet pretium lectus suscipit non. Etiam sagittis eget orci sit amet semper. Nam vel pharetra ipsum. Praesent tempor dapibus orci, vel pulvinar odio. Quisque commodo ac tortor dignissim varius. Donec nec arcu dui. Ut mattis orci diam.</p>

        <br/>
        <h1>Avaliações</h1>
        <div id="avaliacao-div" ></div>
        <ul id="avaliacoes-list"></ul>
    </div>
{% endblock%}