{% extends "base.html" %}

{% block title %}Inicio - Koru Jobs{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/search.js') }}"></script>
{% endblock %}


{% block content %}
<div class="container-fluid">
    <div class="cover">
        <div class="content">
            <div class="content-text">
                <h1>Seus colegas de trabalho estao aqui</h1>
                <h2>Sinta-se a vontade para avaliar</h2>
            </div>
            <div class="search-box">
                <form >
                    <div id="search-bar">
                        <input 
                        type="text"
                        id="search"
                        name="search"
                        placeholder="Pesquisar empresas"
                        />

                        <button id="search-btn" type="submit">Pesquisar</button>
                    </div>

                    <div class="search-checkboxes">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="SEARCH_BY_NAME" id="searchByName">
                            <label class="form-check-label" for="searchByName">Pesquisar empresa por nome</label>
                        </div>
    
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="SEARCH_BY_SETOR" id="searchBySetor">
                            <label class="form-check-label" for="searchBySetor">Pesquisar empresa por setor</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="lista container" id="empresas">
    </div>
</div>

{% endblock %}