{% extends "base.html" %}

{% block title %}Empresas{% endblock %}

{% block content %}
    <ul>
        {% for empresa in empresas %}
            <li><a href={{url_for("empresa", empresaId=empresa.id)}}>{{empresa.nome}}</a></li>
        {% endfor %}
    </ul>
    {% if pagina: %}
        {% if pagina > 1: %}
            <a href={{url_for("empresas", pagina=pagina-1)}}>pagina anterior</a>
        {%endif%}
        <a href={{url_for("empresas", pagina=pagina+1)}}>proxima pagina</a>
    {% endif %}
{% endblock %}

