{% extends "base.html" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}

{% block content %}

<form id="loginForm">
    <label for="email">Email: </label>
    <input 
        type="email"
        name="email"
        id="email"
        placeholder="Digite seu email"
    />
    <label for="senha">Senha: </label>
    <input 
        type="password"
        name="senha"
        id="senha"
        placeholder="Digite sua senha"
    />
    <button id="submitBtn" type="button">Entrar</button>
    <button id="signupBtn" type="button">Cadastrar-se</button>
</form>

{% endblock %}